@import '../utils/colors';

.about-wrapper {
    padding: 20px 60px !important;
    background-color: $blue;

    div > .page-header {
        color: white;
    }

    div > .panel-about {
        box-shadow: 5px 5px 10px $purple-dark;

        .panel-heading {
            background-color: $purple;
            color: white;
            font-size: 20px;
        }
        .panel-body {
            padding: 14px;

            p {
                text-align: justify;
                font-size: 16px;
            }
        }
    }
}

