@import '../utils/colors';

.experiments-wrapper {
    background-color: $pink;

    div > .page-header {
        color: white;
    }

    div > .well {
        text-align: justify;
        font-size: 16px;
    }

    div > .panel-experiments {
        .panel-heading {
            background-color: $pink-dark;
            color: white;
            font-size: 20px;
        }
        .panel-body {
            padding: 14px;

            p {
                text-align: justify;
                font-size: 16px;
            }
        }
    }
}