@import '../utils/colors';

.experiments-wrapper {
    padding: 20px 60px !important;
    background-color: $pink;
    width: 100% !important;

    div > .page-header {
        color: white;
    }

    div > .well {
        text-align: justify;
        font-size: 16px;
    }

    div > .panel-experiments {
        box-shadow: 5px 5px 10px $pink-purple;

        .panel-heading {
            background-color: $pink-dark;
            color: white;
            font-size: 20px;
        }
        .panel-body {
            padding: 14px;

            p {
                text-align: justify;
                font-size: 16px;
            }
        }
    }
}