@import '../utils/colors';

.home-wrapper {
    padding: 20px !important;
    width: 100%;
    background-color: $purple;

    .jumbotron {
        background-color: $purple;
        color: white;
    }

    .btn-more {
        color: white;
        background-color: $purple-light;
        border-color: white;

        &:hover, &:focus {
            color: white;
            background-color: $purple-dark;
            border-color: white;
        }

        &:focus {
            outline: 1px solid white;
            outline-offset: -4px;
        }
    }
}
