@import '../utils/colors';

.home-wrapper {
    padding: 20px 60px !important;
    background-color: $purple;

    .jumbotron {
        background-color: $purple-dark;
        color: white;
        border-radius:  4px !important;
    }

    .btn-more {
        color: white;
        background-color: $purple-light;
        border-color: white;

        &:hover, &:focus {
            color: white;
            background-color: $purple-dark;
            border-color: white;
        }

        &:focus {
            outline: 1px solid white;
            outline-offset: -4px;
        }
    }

    // .panel-home {

    // }
}
